@import "bootstrap.min.css.scss";
@import "jasny-bootstrap.min.css.scss";
$primary-color:	#6C6C6C;

@mixin bg-gradient($from, $to) {
    background-color: $to;
    background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background-image: -webkit-linear-gradient($from, $to);
    background-image: -moz-linear-gradient($from, $to);
    background-image: -o-linear-gradient($from, $to);
    background-image: -ms-linear-gradient($from, $to);
    background-image: linear-gradient($from, $to);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-shadow($angle, $distance, $blur, $color) {
	-webkit-box-shadow: $angle $distance $blur $color;
	-moz-box-shadow:    $angle $distance $blur $color;
	box-shadow:         $angle $distance $blur $color;
}

body {
	width: 95%;
	margin-left: 10%;
	font-size: 14px;
	font-family: serif;
	text-align: justify;
	line-height: 1.5;
	color: $primary-color;
}
.container {
	margin: 25px 0 0 -20px;
	width: 90%;
	padding-left: 0;
}

table {
	min-width: 50%;
	@extend .table;
	@extend .table-striped;
	@extend .table-bordered;
}

.panel {
	@extend .panel;
	@extend .panel-default;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}
@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}
@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}
nav {
	@extend .navmenu;
	@extend .navmenu-default;
	@extend .navmenu-fixed-left;
	@extend .offcanvas;
}
nav#side-menu ul {
	@extend .nav;
	@extend .navmenu-nav;
}
#scrolltable {
	overflow: scroll;
	@extend .table-responsive;
	padding: 4px;
	width: 99.6%;
}
#scrolltable table tr th, #scrolltable table tr td {
	white-space: pre-wrap;
	padding-left: 5px;
}
#search-box {
	padding: 0;
	margin-left: 16px;
	@extend .form-group;
	@extend .col-sm-12;
}
input[type="button"] {
	@extend .btn;
	@extend .btn-default;
	@extend .col-sm-1;
}
input[type="text"] {
	@extend .form-control;

}
#search-box div {
	@extend .col-sm-10;
}
#tb-food tbody tr:first-child {
	font-weight: bold;
}
#tb-food tbody td:first-child {
	font-weight: bold;
}
#tb-food tbody tr:first-child td:first-child {
	border-top-color: transparent;
	border-left-color: transparent;
	background-color: transparent;
}
footer {
	border-top: 1px solid #eee;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
}
#mainContent {
	width: 100%;
	padding-left: 22px;
	position: relative;
	min-height: 400px;
}
.higher {
	color: blue;
	font-weight: bolder;
}
ol {
	list-style-type: upper-alpha;
}
ol li ol {
	list-style-type: lower-alpha;
}
.tooltipHelp {
	@extend .glyphicon;
	@extend .glyphicon-info-sign;
	cursor: pointer;
}
#tb-food tbody tr:first-child .tooltipHelp{
	display: none;
}